<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
<meta
  name="description"
  content="This is Signin Page of Nomad Dashboard Website"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<div class="out">
  <div class="page">
    <div class="header js-header header_empty">
      <div class="header__bg js-header-bg"></div>
    </div>
    <div class="page__wrapper">
      <div class="entry">
        <div class="entry__wrap">
          <h1 class="entry__title">Sign Up As</h1>

          <div class="row mt-5">
            <div class="col-sm-6 text-center my-2">
              <div class="register-box">
                <a routerLink="/auth/itadministrator">
                    <i class="fas fa-user-shield"></i>
                  <h4>It Administrator</h4>
                </a>
              </div>
            </div>

            <div class="col-sm-6 text-center my-2">
                <div class="register-box">
                  <a routerLink="/auth/admin">
                      <i class="fas fa-user-shield"></i>
                    <h4>Admin</h4>
                  </a>
                </div>
              </div>

              <div class="col-sm-6 text-center my-2">
                <div class="register-box">
                  <a routerLink="/auth/superadmin">
                      <i class="fas fa-user-shield"></i>
                    <h4>Super Admin</h4>
                  </a>
                </div>
              </div>
            
            <div class="col-sm-6 text-center my-2">
              <div class="register-box">
                <a routerLink="/auth/student">
                    <i class="fas fa-user-graduate"></i>
                  <h4>Student</h4>
                </a>
              </div>
            </div>

            
            <div class="col-sm-6 text-center my-2">
                <div class="register-box">
                  <a routerLink="/auth/courseadviser">
                    <i class="fas fa-book-open"></i>
                    <h4>Course Adviser</h4>
                  </a>
                </div>
              </div>

              <div class="col-sm-6 text-center my-2">
                <div class="register-box">
                  <a routerLink="/auth/headofdepartment">
                    <i class="fas fa-heading"></i>
                    <h4>Head Of Department</h4>
                  </a>
                </div>
              </div>

              <div class="col-sm-6 text-center my-2">
                <div class="register-box">
                  <a routerLink="/auth/dean">
                    <i class="fas fa-user-ninja"></i>
                    <h4>Dean</h4>
                  </a>
                </div>
              </div>


          </div>

          <div class="entry__bottom">
            <a class="entry__link" routerLink="/auth/signin"
              >Already have an account? Sign In</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
