<div class="page2__container p-0">
    <div class="page2__row">
      <div class="page2__col page2__col_w35">
        <div class="card1 mt-8">
          <div class="card1__head">
            <div class="card1__category h5-responsive">Department</div>
          </div>
          <div class="card1__body">
            <div class="card1__list"></div>
            <div class="row user-detail-row my-3 flex">
              <div class="col-5">
                <label class="card__title">Name:</label>
              </div>
              <div class="col-3 ml-1">
                <p>
                  {{ department.name }}
                </p>
              </div>
            </div>
            <div class="row user-detail-row my-3 flex">
              <div class="col-5">
                <label class="card__title">Course Adviser:</label>
              </div>
              <div class="col-3 ml-1">
                <p>
                  <a routerLink="/itadministrator/users/profile/{{ courseAdviser.userName }}" class="text-blue-500">{{ courseAdviser.firstName }} {{courseAdviser.lastName}}</a>
                </p>
              </div>
            </div>
            <div class="row user-detail-row my-3 flex">
                <div class="col-5">
                  <label class="card__title">Head Of Department:</label>
                </div>
                <div class="col-3 ml-1">
                  <p>
                    <a routerLink="/itadministrator/users/profile/{{ hod.userName }}" class="text-blue-500">{{ hod.firstName }} {{hod.lastName}}</a>
                  </p>
                </div>
              </div>
            <div class="row user-detail-row my-3 flex">
              <div class="col-5">
                <label class="card__title">Action:</label>
              </div>
              <div class="col-3 ml-1">
                <p>
                  <button (click)="onDelete()" class="text-red-500">Delete</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="page2__col page2__col_w65">
        <div class="card1 mt-8">
          <div class="card1__head">
            <div class="card1__category h5-responsive">Subjects <a href="" class="text-blue-500 ml-1">Add Subject</a></div>
          </div>
          <div class="card1__body">
            <div class="card1__list"></div>
            
          </div>
        </div>
      </div>
    </div>
  </div>


  
  