<div class="page2__container p-0">
    <div class="profile profile_user">
      <div
        class="profile__bg"
        style="
          background-image: url('/assets/square_template/img/bg-profile.jpg');
        "
      ></div>
      <div class="profile__user">
        <div class="profile__ava">
          <img
            class="profile__pic"
            src="{{ userData.profilePic }}"
            alt="user-img"
          />
        </div>
        <div class="profile__details">
          <span class="profile__title title"
            >{{ userData.firstName }} {{ userData.lastName }}</span
          ><span class="profile__login">{{ userData.email }}</span>
        </div>
      </div>
    </div>
    <div class="page2__row">
      <div class="page2__col page2__col_w35">
       
      </div>
  
      <div class="page2__col page2__col_w65">
        <div class="card1">
            <div class="card1__head">
              <div class="card1__category h5-responsive">Profile Details</div>
            </div>
            <div class="card1__body">
              <div class="card1__list">

                <div class="row user-detail-row my-3">
                    <div class="col-md-5">
                      <label class="card__title">User Name</label>
                    </div>
                    <div class="col-md-7">
                      <p>{{ userData.userName }}</p>
                    </div>
                  </div>

                <div class="row user-detail-row my-3">
                  <div class="col-md-5">
                    <label class="card__title">First Name</label>
                  </div>
                  <div class="col-md-7">
                    <p>{{ userData.firstName }}</p>
                  </div>
                </div>
          
                <div class="row user-detail-row my-3">
                  <div class="col-md-5">
                    <label class="card__title">Last Name</label>
                  </div>
                  <div class="col-md-7">
                    <p>{{ userData.lastName }}</p>
                  </div>
                </div>
          
                <div class="row user-detail-row my-3">
                  <div class="col-md-5">
                    <label class="card__title">Email</label>
                  </div>
                  <div class="col-md-7">
                    <p>{{ userData.email }}</p>
                  </div>
                </div>
          
                
          
                <div class="row user-detail-row my-3">
                  <div class="col-md-5">
                    <label class="card__title">Phone Number</label>
                  </div>
                  <div class="col-md-7">
                    <p>{{ userData.phoneNumber }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  