<div class="sidebar2 js-sidebar2">
    <div class="sidebar2__top">
      <button class="sidebar2__close js-sidebar2-close">
        <svg class="icon icon-close">
          <use
            xlink:href="/assets/templates/square_template/img/sprite.svg#icon-close"
          ></use>
        </svg>
      </button>
    </div>
    <div class="sidebar2__wrapper">
      <app-sidebar-user-card></app-sidebar-user-card>
      <div class="sidebar2__category">Dashboard</div>
      <div class="sidebar2__nav">
        <a
          class="sidebar2__item"
          [routerLink]="['/student/']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          ><svg class="icon icon-dashboard">
            <use
              xlink:href="/assets/square_template/img/sprite.svg#icon-dashboard"
            ></use></svg>Dashboard</a
        >
        <a
          class="sidebar2__item"
          routerLink="/admin/users/"
          routerLinkActive="active"
          ><i
            nz-icon
            nzType="usergroup-add"
            class="icon text-gray-400"
            nzTheme="outline"
          ></i>
          Users</a
        >
      </div>
      <div class="sidebar2__category mt-2">Account</div>
      <div class="sidebar2__nav">
        <a [routerLink]="['/admin/profile/']" routerLinkActive="active" class="sidebar2__item"
          ><i
            nz-icon
            nzType="user"
            nzTheme="outline"
            class="icon text-gray-400"
          ></i>
          Profile</a
        >
        <a
          class="sidebar2__item"
          routerLinkActive="active"
          routerLink="/admin/notifications/"
          ><svg class="icon icon-bell">
            <use
              xlink:href="/assets/square_template/img/sprite.svg#icon-bell"
            ></use></svg>Notifications</a
        >
        <a
          class="sidebar2__item"
          routerLinkActive="active"
          routerLink="/admin/settings/"
          ><svg class="icon icon-settings">
            <use
              xlink:href="/assets/square_template/img/sprite.svg#icon-settings"
            ></use></svg>Settings</a
        >
        <a (click)="signout()" class="sidebar2__item"
          ><i class="icon text-gray-400 fas fa-sign-out-alt"></i> Signout</a
        >
      </div>
    </div>
  </div>
  