
  <div class="sorting1">
    <div class="sorting1__row">
      <h1 class="sorting1__title title">Hi, {{user.firstName}} {{user.lastName}}</h1>
  </div>
  <div class="overview">
    <div class="text-3xl font-semibold font-sans text-black w-100 bg-white p-3 pl-4 mt-10 rounded-lg mb-7">Overview</div>
    <app-top-overview class="overview__list"></app-top-overview>
    <div class="text-3xl font-semibold font-sans text-black w-100 bg-white p-3 pl-4 mt-10 rounded-lg mb-7">Projects</div>
    <div class="overview__row">
      <div class="overview__col overview__col_w75">
        <div class="overview__card">
          <div class="overview__head">
            <div class="overview__title">Sales Figures</div>
            <div class="overview__legend">
              <div class="overview__parameter">
                <div class="overview__bg" style="background-color: #0062FF;"></div>
                <div class="overview__text">Marketing Sales</div>
              </div>
              <div class="overview__parameter">
                <div class="overview__bg" style="background-color: #3DD598;"></div>
                <div class="overview__text">Cases Sales</div>
              </div>
            </div>
          </div>
          <div class="overview__chart overview__chart_sales-figures">
            <div id="chart-sales-figures"></div>
          </div>
        </div>
      </div>
      <div class="overview__col overview__col_w25">
        <div class="overview__card overview__card_p20">
          <div class="overview__group">
            <div class="overview__el">
              <div class="overview__chart overview__chart_circle">
                <div id="chart-hit-rate"></div>
                <div class="overview__icon"><svg class="icon icon-goal">
                    <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-goal"></use>
                  </svg></div>
              </div>
              <div class="overview__details">
                <div class="overview__number">68%</div>
                <div class="overview__info">Hit Rate this year</div>
              </div>
            </div>
            <div class="overview__el">
              <div class="overview__chart overview__chart_circle">
                <div id="chart-deals"></div>
                <div class="overview__icon"><svg class="icon icon-briefcase-1">
                    <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-briefcase-1"></use>
                  </svg></div>
              </div>
              <div class="overview__details">
                <div class="overview__number">76%</div>
                <div class="overview__info">Deals this year</div>
              </div>
            </div>
          </div>
        </div>
        <div class="overview__card">
          <div class="overview__chart overview__chart_visitors">
            <div id="chart-visitors"></div>
          </div>
          <div class="overview__bottom">
            <div class="overview__details">
              <div class="overview__number">10,254</div>
              <div class="overview__info">Visitors this year</div>
            </div>
            <div class="overview__status overview__status_down">-1.5%<svg class="icon icon-arrow-bottom">
                <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-arrow-bottom"></use>
              </svg></div>
          </div>
        </div>
      </div>
    </div>
    <div class="overview__row">
      <div class="overview__col overview__col_w50">
        <div class="overview__card">
          <div class="overview__head overview__head_mb30">
            <div class="overview__details overview__details_flex">
              <div class="overview__title">Average Total Sales</div>
              <div class="overview__years">2017-2018</div>
            </div>
          </div>
          <div class="overview__charts">
            <div class="overview__box">
              <div class="overview__chart">
                <div id="chart-counter-cases"></div>
                <div class="overview__percent">46% </div>
              </div>
              <div class="overview__details">
                <div class="overview__counter">92,980</div>
                <div class="overview__info">Cases</div>
              </div>
            </div>
            <div class="overview__box">
              <div class="overview__chart">
                <div id="chart-counter-applications"></div>
                <div class="overview__percent">74%</div>
              </div>
              <div class="overview__details">
                <div class="overview__counter">28,546</div>
                <div class="overview__info">Applications</div>
              </div>
            </div>
            <div class="overview__box">
              <div class="overview__chart">
                <div id="chart-counter-products"></div>
                <div class="overview__percent">14%</div>
              </div>
              <div class="overview__details">
                <div class="overview__counter">14,008</div>
                <div class="overview__info">Products</div>
              </div>
            </div>
          </div>
          <div class="overview__note"><svg class="icon icon-info">
              <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-info"></use>
            </svg>Net sales, found on the income statement are used to calculate this ration returns and refunds must be backed out of total sales to measure the truly measure the firm’s assets abillity to generate sales.</div>
        </div>
      </div>
      <div class="overview__col overview__col_w50">
        <div class="overview__card">
          <div class="overview__head">
            <div class="overview__details overview__details_flex">
              <div class="overview__title">Sales Report</div>
              <div class="overview__years">2017-2018</div>
            </div>
            <div class="overview__legend">
              <div class="overview__parameter">
                <div class="overview__bg" style="background-color: #0062FF;"></div>
                <div class="overview__text">Online Sales</div>
              </div>
              <div class="overview__parameter">
                <div class="overview__bg" style="background-color: #3DD598;"></div>
                <div class="overview__text">Offline Sales</div>
              </div>
            </div>
          </div>
          <div class="overview__chart overview__chart_sales-report">
            <div id="chart-sales-report"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="overview__row">
      <div class="overview__col overview__col_w25">
        <div class="overview__card">
          <div class="overview__control"><button class="overview__arrow"><svg class="icon icon-arrow-prev">
                <use xlink:href="img/sprite.svg#icon-arrow-prev"></use>
              </svg></button>
            <div class="overview__title">2017</div><button class="overview__arrow"><svg class="icon icon-arrow-next">
                <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-arrow-next"></use>
              </svg></button>
          </div>
          <div class="overview__chart overview__chart_visitors-all">
            <div id="chart-visitors-all"></div>
            <div class="overview__details">
              <div class="overview__number">22.870</div>
              <div class="overview__info">Visitors this year</div>
            </div>
          </div>
          <div class="overview__legend overview__legend_column">
            <div class="overview__parameter">
              <div class="overview__bg" style="background-color: #0062FF;"></div>
              <div class="overview__text">Amazon</div>
              <div class="overview__value">2.1k</div>
            </div>
            <div class="overview__parameter">
              <div class="overview__bg" style="background-color: #FF974A;"></div>
              <div class="overview__text">Alibaba</div>
              <div class="overview__value">1k</div>
            </div>
            <div class="overview__parameter">
              <div class="overview__bg" style="background-color: #3DD598;"></div>
              <div class="overview__text">Ebay</div>
              <div class="overview__value">1.9k</div>
            </div>
            <div class="overview__parameter">
              <div class="overview__bg" style="background-color: #FFC542;"></div>
              <div class="overview__text">Shopify</div>
              <div class="overview__value">5.7k</div>
            </div>
          </div>
        </div>
      </div>
      <div class="overview__col overview__col_w75">
        <div class="overview__card overview__card_p0 overview__card_location">
          <div class="overview__cell">
            <div class="overview__title">Top Retail Sales Locations</div>
            <div class="overview__flex">
              <div class="overview__number">15.870</div>
              <div class="overview__flag"><img class="overview__pic" src="/assets/templates/square_template/img/flag-usa.svg" alt=""></div>
            </div>
            <div class="overview__info">Our most customers in US</div>
            <div class="overview__legend overview__legend_group">
              <div class="overview__parameter">
                <div class="overview__bg" style="background-color: #0062FF;"></div>
                <div class="overview__text">Massive</div>
                <div class="overview__value">15.7k</div>
              </div>
              <div class="overview__parameter">
                <div class="overview__bg" style="background-color: #FF974A;"></div>
                <div class="overview__text">Large</div>
                <div class="overview__value">4.9k</div>
              </div>
              <div class="overview__parameter">
                <div class="overview__bg" style="background-color: #FFC542;"></div>
                <div class="overview__text">Medium</div>
                <div class="overview__value">2.4k</div>
              </div>
              <div class="overview__parameter">
                <div class="overview__bg" style="background-color: #E2E2EA;"></div>
                <div class="overview__text">Small</div>
                <div class="overview__value">980</div>
              </div>
            </div>
          </div>
          <div class="overview__cell">
            <div class="overview__map">
              <div class="js-map-svg" style="width: 100%; height: 355px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overview__row overview__row_tablet-album">
      <div class="overview__col overview__col_w33">
        <div class="overview__card overview__card_p0">
          <div class="statistics">
            <div class="statistics__body">
              <div class="statistics__top">
                <div class="statistics__title">New Customers</div>
                <div class="options2 js-options"><button class="options2__btn js-options-btn"><svg class="icon icon-dots">
                      <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-dots"></use>
                    </svg></button>
                  <div class="options2__dropdown js-options-dropdown"><a class="options2__link" href="#">Remove Notifications</a><a class="options2__link" href="#">Turn Off Notifications from Janeta</a></div>
                </div>
              </div>
              <div class="statistics__group">
                <div class="statistics__item">
                  <div class="ava"><img class="ava__pic" src="/assets/templates/square_template/img/ava-10.png" alt=""></div>
                  <div class="statistics__details">
                    <div class="statistics__man">Isabella Moran</div>
                    <div class="statistics__id">Customer ID#00222</div>
                  </div>
                  <div class="statistics__actions"><button class="statistics__action"><svg class="icon icon-email">
                        <use xlink:href="img/sprite.svg#icon-email"></use>
                      </svg></button><button class="statistics__action"><svg class="icon icon-block">
                        <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-block"></use>
                      </svg></button></div>
                </div>
                <div class="statistics__item">
                  <div class="ava" style="background-color: #FF9AD5;">WC</div>
                  <div class="statistics__details">
                    <div class="statistics__man">Warren Craig</div>
                    <div class="statistics__id">Customer ID#00221</div>
                  </div>
                  <div class="statistics__actions"><button class="statistics__action"><svg class="icon icon-email">
                        <use xlink:href="img/sprite.svg#icon-email"></use>
                      </svg></button><button class="statistics__action"><svg class="icon icon-block">
                        <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-block"></use>
                      </svg></button></div>
                </div>
                <div class="statistics__item">
                  <div class="ava"><img class="ava__pic" src="/assets/templates/square_template/img/ava-11.png" alt=""></div>
                  <div class="statistics__details">
                    <div class="statistics__man">Andrew Ellis</div>
                    <div class="statistics__id">Customer ID#00220</div>
                  </div>
                  <div class="statistics__actions"><button class="statistics__action"><svg class="icon icon-email">
                        <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-email"></use>
                      </svg></button><button class="statistics__action"><svg class="icon icon-block">
                        <use xlink:href="img/sprite.svg#icon-block"></use>
                      </svg></button></div>
                </div>
                <div class="statistics__item">
                  <div class="ava"><img class="ava__pic" src="/assets/templates/square_template/img/ava-9.png" alt=""></div>
                  <div class="statistics__details">
                    <div class="statistics__man">Sam Conner</div>
                    <div class="statistics__id">Customer ID#00219</div>
                  </div>
                  <div class="statistics__actions"><button class="statistics__action"><svg class="icon icon-email">
                        <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-email"></use>
                      </svg></button><button class="statistics__action"><svg class="icon icon-block">
                        <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-block"></use>
                      </svg></button></div>
                </div>
                <div class="statistics__item">
                  <div class="ava" style="background-color: #50B5FF;">SC</div>
                  <div class="statistics__details">
                    <div class="statistics__man">Sam Conner</div>
                    <div class="statistics__id">Customer ID#00218</div>
                  </div>
                  <div class="statistics__actions"><button class="statistics__action"><svg class="icon icon-email">
                        <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-email"></use>
                      </svg></button><button class="statistics__action"><svg class="icon icon-block">
                        <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-block"></use>
                      </svg></button></div>
                </div>
              </div>
            </div>
            <div class="statistics__foot"><a class="statistics__view" href="#">View more Customers</a></div>
          </div>
        </div>
      </div>
      <div class="overview__col overview__col_w67">
        <div class="overview__card overview__card_p0">
          <div class="statistics">
            <div class="statistics__body">
              <div class="statistics__top statistics__top_mb22">
                <div class="statistics__title">Transaction History</div>
                <div class="options2 js-options"><button class="options2__btn js-options-btn"><svg class="icon icon-dots">
                      <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-dots"></use>
                    </svg></button>
                  <div class="options2__dropdown js-options-dropdown"><a class="options2__link" href="#">Remove Notifications</a><a class="options2__link" href="#">Turn Off Notifications from Janeta</a></div>
                </div>
              </div>
              <div class="statistics__inner">
                <div class="statistics__table">
                  <div class="statistics__row statistics__row_head">
                    <div class="statistics__cell">Payment Number</div>
                    <div class="statistics__cell">Date & time</div>
                    <div class="statistics__cell">amount</div>
                    <div class="statistics__cell">Status</div>
                  </div>
                  <div class="statistics__row">
                    <div class="statistics__cell">
                      <div class="statistics__line">
                        <div class="statistics__icon bg-green"><svg class="icon icon-check">
                            <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-check"></use>
                          </svg></div>
                        <div class="statistics__text">Payment from #10321</div>
                      </div>
                    </div>
                    <div class="statistics__cell">Mar 21, 2019, 3:30pm</div>
                    <div class="statistics__cell">+ $250.00</div>
                    <div class="statistics__cell">
                      <div class="statistics__status statistics__status_completed">Completed</div>
                    </div>
                  </div>
                  <div class="statistics__row">
                    <div class="statistics__cell">
                      <div class="statistics__line">
                        <div class="statistics__icon bg-orange"><svg class="icon icon-arrow-circle">
                            <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-arrow-circle"></use>
                          </svg></div>
                        <div class="statistics__text">Process refund to #00910</div>
                      </div>
                    </div>
                    <div class="statistics__cell">Mar 21, 2019, 3:30pm</div>
                    <div class="statistics__cell">-$16.50</div>
                    <div class="statistics__cell">
                      <div class="statistics__status statistics__status_completed">Completed</div>
                    </div>
                  </div>
                  <div class="statistics__row">
                    <div class="statistics__cell">
                      <div class="statistics__line">
                        <div class="statistics__icon bg-blue-light"><svg class="icon icon-delivery">
                            <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-delivery"></use>
                          </svg></div>
                        <div class="statistics__text">Process delivery to #44333</div>
                      </div>
                    </div>
                    <div class="statistics__cell">Mar 21, 2019, 3:30pm</div>
                    <div class="statistics__cell">3 items</div>
                    <div class="statistics__cell">
                      <div class="statistics__status statistics__status_pickup">For Pickup</div>
                    </div>
                  </div>
                  <div class="statistics__row">
                    <div class="statistics__cell">
                      <div class="statistics__line">
                        <div class="statistics__icon bg-green"><svg class="icon icon-check">
                            <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-check"></use>
                          </svg></div>
                        <div class="statistics__text">Payment from #023328</div>
                      </div>
                    </div>
                    <div class="statistics__cell">Mar 21, 2019, 3:30pm</div>
                    <div class="statistics__cell">+ $250.00</div>
                    <div class="statistics__cell">
                      <div class="statistics__status statistics__status_completed">Completed</div>
                    </div>
                  </div>
                  <div class="statistics__row">
                    <div class="statistics__cell">
                      <div class="statistics__line">
                        <div class="statistics__icon bg-red"><svg class="icon icon-close">
                            <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-close"></use>
                          </svg></div>
                        <div class="statistics__text">Payment failed from #087651</div>
                      </div>
                    </div>
                    <div class="statistics__cell">Mar 21, 2019, 3:30pm</div>
                    <div class="statistics__cell">+ $250.00</div>
                    <div class="statistics__cell">
                      <div class="statistics__status statistics__status_declined">Declined</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="statistics__foot"><a class="statistics__view" href="#">View All transactions</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>