<a class="overview__card shadow-md hover:shadow-lg" routerLink="/admin/users/">
    <div class="overview__main">
      <div class="flex justify-between">
      <div class="overview__title">Users</div>
      <i class="pi pi-users text-2xl text-purple-500"></i>
    </div>
    </div>
    <div class="overview__flex">
      <div class="overview__number">{{usersCount}}</div>
    </div>
  </a>
  <div class="overview__card">
    <div class="overview__main">
      <div class="overview__title">Purchase</div>
      <div class="overview__status overview__status_up">+0.5%<svg class="icon icon-arrow-top">
          <use xlink:href="/assets/square_template/img/sprite.svg#icon-arrow-top"></use>
        </svg></div>
    </div>
    <div class="overview__flex">
      <div class="overview__number">$20199</div>
      <div class="overview__status overview__status_up">+0.5%<svg class="icon icon-arrow-top">
          <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
        </svg></div>
    </div>
    <div class="overview__info">Compared to ($19000 last year)</div>
  </div>
  <div class="overview__card">
    <div class="overview__main">
      <div class="overview__title">Return</div>
      <div class="overview__status overview__status_down">-1.5%<svg class="icon icon-arrow-bottom">
          <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-arrow-bottom"></use>
        </svg></div>
    </div>
    <div class="overview__flex">
      <div class="overview__number">$110</div>
      <div class="overview__status overview__status_down">-1.5%<svg class="icon icon-arrow-bottom">
          <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-arrow-bottom"></use>
        </svg></div>
    </div>
    <div class="overview__info">Compared to ($165 last year)</div>
  </div>
  <div class="overview__card">
    <div class="overview__main">
      <div class="overview__title">Marketing</div>
      <div class="overview__status overview__status_up">+2.5%<svg class="icon icon-arrow-top">
          <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-arrow-top"></use>
        </svg></div>
    </div>
    <div class="overview__flex">
      <div class="overview__number">$12632</div>
      <div class="overview__status overview__status_up">+2.5%<svg class="icon icon-arrow-top">
          <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-arrow-top"></use>
        </svg></div>
    </div>
    <div class="overview__info">Compared to ($10500 last year)</div>
  </div>