<a class="overview__card shadow-md hover:shadow-lg" routerLink="/it-administrator/users/">
    <div class="overview__main">
      <div class="flex justify-between">
      <div class="overview__title">Users</div>
      <i class="pi pi-users text-2xl text-purple-500"></i>
    </div>
    </div>
    <div class="overview__flex">
      <div class="overview__number">{{usersCount}}</div>
    </div>
  </a>


  <a class="overview__card shadow-md hover:shadow-lg" routerLink="/it-administrator/faculties/">
    <div class="overview__main">
      <div class="flex justify-between">
      <div class="overview__title">Faculties</div>
      <i class="fas fa-industry text-2xl text-purple-500"></i>
    </div>
    </div>
    <div class="overview__flex">
      <div class="overview__number">{{facultiesCount}}</div>
    </div>
  </a>


  <a class="overview__card shadow-md hover:shadow-lg" routerLink="/it-administrator/faculties/">
    <div class="overview__main">
      <div class="flex justify-between">
      <div class="overview__title">Departments</div>
      <i class="fas fa-building text-2xl text-purple-500"></i>
    </div>
    </div>
    <div class="overview__flex">
      <div class="overview__number">{{departmentsCount}}</div>
    </div>
  </a>
  <div class="overview__card">
    <div class="overview__main">
      <div class="overview__title">Marketing</div>
      <div class="overview__status overview__status_up">+2.5%<svg class="icon icon-arrow-top">
          <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-arrow-top"></use>
        </svg></div>
    </div>
    <div class="overview__flex">
      <div class="overview__number">$12632</div>
      <div class="overview__status overview__status_up">+2.5%<svg class="icon icon-arrow-top">
          <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-arrow-top"></use>
        </svg></div>
    </div>
    <div class="overview__info">Compared to ($10500 last year)</div>
  </div>